body {
	font-family: 'Muli', sans-serif;
}

#container {
	height: 600px;
	width: 350px;
	border: 2px solid black;
	border-radius: 5%;
	margin-left: 35%;
}

h1 {
	display: flex;
	justify-content: center;
}

input {
	margin-left: 24%;
	padding: 0.2rem;
}

#button:hover{
	cursor: pointer;
}

li {
	list-style: none;
	margin-left: 3rem;
}

li::before {
	content: "✓";
	margin-right: 0.2rem;
}

#checkBox {
	margin-top: 0.5rem;
	margin-left: 9rem;
}

@media only screen and (min-width: 1200px) {
	@media only screen and (min-width: 1000px) {
	#container {
		height: 30rem;
		margin-left: 35%;
	}
}

@media only screen and (min-width: 1000px) {
	#container {
		height: 600px;
		margin-left: 36.5%;
	}
}

@media only screen and (max-width: 1000px) {
	#container {
		height: 30rem;
		margin-left: 25%;
	}
}

@media only screen and (max-width: 768px) {
	#container {
		height: 30rem;
		margin-left: 8%;
	}
}